
body {
  margin: 0px auto;
}

#contenedor{
  margin: 0px auto;
  margin: 10px;
  border: 1px solid gray;
  background-color: rgb(80, 79, 80);
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
}

.objetivo {
  border: 1px solid gray;
  background-color: rgb(230, 99, 230);
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
}

.objetivo p {
  font-size: 1.25em;
}

.botonCompletar, .botonBorrar{
  float:right;
}
