.container {
    width: 40%;
    margin: 50px auto;
}
.table{
    max-width: 1100px;
    margin: 20px auto;
}
.mb-4{
    text-align: center;
    color:rgb(243, 127, 19)
}
.list-group{
    width: 35%;
    margin: 50px auto;
    background-color: rgb(119, 119, 153);
    text-align: center;
}
.list-group-item {
    background-color: rgb(85, 85, 252);
    color:aliceblue;
    transition:color 0.5s;
    border-color: aliceblue;
    border-width: 2px;
}
.list-group-item:hover{
    background-color: rgb(42, 42, 252);
    color:rgb(202, 227, 248);
    cursor: pointer;
}
label{
   color:rgb(15, 138, 56);
}
.form-check-label{
    color:rgb(78, 78, 69)
}
.form-check-input{
    color:rgb(245, 69, 21)
}
th{
    text-align: center;
    color:rgb(38, 110, 4)
}

tbody{
    text-align: center; 
    
}
#tabla1 {
    border-collapse: separate;
    /* text-align: center; */
    margin: auto; 
}
table, td, th {
    border: 1px solid rgb(85, 84, 84);
}
#inicio{
    width: 6%;
    margin: auto 158px;
    background-color: rgb(64, 111, 238);
    color:aliceblue;
    transition:color 0.5s;
    /* border-color: aliceblue; */
    border-width: 2px;
    border-radius: .3 px;
    text-align: center;
}

#inicio:hover{
    background-color: rgb(42, 42, 252);
    color:rgb(202, 227, 248);
    cursor: pointer;
}
#listado{
    margin: auto; 
}
